# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Google service account keys
servicegoogle/
servicegoogle/*.json
/.cert/

# Local datasets (legacy)
public/data/

node_modules
dist
dist-ssr
*.local
.env
.env.*
.envrc
!env/
!env/.env.local.example
!env/.env.local.server.example

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
